
body {
  padding: 3% 40%;
  font-family: 'Poppins', sans-serif;
  margin-right: 20vw;
}
.text {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 14px;
  max-width: 70%;
  max-height: 50%;
  line-height: 1.35;
  overflow: hidden;
}

.button {
  
  background-color: #920052; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.button2 {
 
  background-color: #0E306B; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
}

.button3 {
 
  background-color: #0E306B; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
 font-family: 'Poppins', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button4 {
 
  background-color: #0E306B; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
font-family: 'Poppins', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.li {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

