
body {
  padding: 3% 10%;
  color: FFFAFF;
}
.text {
  font-family: "Titillium Web";
  font-weight: 100;
  font-size: 1.7vw;
  max-width: 70%;
  max-height: 50%;
  line-height: 1.35;
  overflow: hidden;
}

.button {
  
  background-color: #920052; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Londrina Solid";
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2 {
 
  background-color: #0E306B; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Londrina Solid";
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
